.grass {
    background-color: #00FF66;
}
.green {
    background-color: #00FF8C;
}

.lime {
    background-color: #00FFB2;
}

.turquoise {
    background-color: #00FFD8;
}

.sky {
    background-color: #57BEEC;
}

.bluemarin {
    background-color: #3C9DC7;
}

.sea {
    background-color: #187994;
}

.deep-sea {
    background-color: #005575;
}

.blueberry {
    background-color: #A500FF;
}

.purple {
    background-color: #CC00FF;
}

.fuchsia {
    background-color: #F200FF;
}

.madness {
    background-color: #F200FF;
}

.orange {
    background-color: #FFE500;
}

.lemon {
    background-color: #F2FF00;
}

.vomit {
    background-color: #CBFF00;
}

.cucumber {
    background-color: #A5FF00;
}